@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Style+Script&display=swap');
#head{
    font-family: 'Style Script', cursive;
}
.body{
    font-family: 'ABeeZee', sans-serif;   
}
/* font-family: 'ABeeZee', sans-serif; */
/* font-family: 'Style Script', cursive; */
.Vid{
    border-radius: 2vw;
    size: 10;
}